<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Ben's Attainia Project</title>
</head>
<body>
  <div id="app">
    <h1>Page 2</h1>
    <usertable highlight="greenrow" :showzeroes="false"></usertable>
    </br>
    </br>
    </br>
    <a href="{% url 'page1' %}">Go to Page 1</a>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="http://cdn.jsdelivr.net/npm/vue"></script>
  <script src="{% static 'main.js' %}"></script>
</body>
</html>